<?xml version="1.0" encoding="utf-8"?>
<ObjDef xmlns="http://www.sonicretro.org" Name="Spring" Image="redvert">
  <Images>
    <ImageFromMappings id="redvert">
      <ArtFile filename="../artnem/Spring Vertical.bin" />
      <MapFile type="ASM" filename="../_maps/Red Springs.asm" frame="0" startpal="0" />
    </ImageFromMappings>
    <ImageFromMappings id="yelvert">
      <ArtFile filename="../artnem/Spring Vertical.bin" />
      <MapFile type="ASM" filename="../_maps/Green Springs.asm" frame="0" startpal="0" />
    </ImageFromMappings>
    <ImageFromMappings id="redhorz">
      <ArtFile filename="../artnem/Spring Horizontal.bin" />
      <MapFile type="ASM" filename="../_maps/Red Springs.asm" frame="3" startpal="0" />
    </ImageFromMappings>
    <ImageFromMappings id="yelhorz">
      <ArtFile filename="../artnem/Spring Horizontal.bin" />
      <MapFile type="ASM" filename="../_maps/Green Springs.asm" frame="3" startpal="0" />
    </ImageFromMappings>
    <ImageFromMappings id="reddiag">
      <ArtFile filename="../artnem/Spring Diagonal.bin" />
      <MapFile type="ASM" filename="../_maps/Red Springs.asm" frame="6" startpal="0" />
    </ImageFromMappings>
    <ImageFromMappings id="yeldiag">
      <ArtFile filename="../artnem/Spring Diagonal.bin" />
      <MapFile type="ASM" filename="../_maps/Green Springs.asm" frame="6" startpal="0" />
    </ImageFromMappings>
  </Images>
  <Subtypes>
    <Subtype id="00" name="Red Up" image="redvert" />
    <Subtype id="02" name="Yellow Up" image="yelvert" />
    <Subtype id="10" name="Red Horizontal" image="redhorz" />
    <Subtype id="12" name="Yellow Horizontal" image="yelhorz" />
    <Subtype id="20" name="Red Down" image="redvert" />
    <Subtype id="22" name="Yellow Down" image="yelvert" />
    <Subtype id="30" name="Red Diagonal Up" image="reddiag" />
    <Subtype id="32" name="Yellow Diagonal Up" image="yeldiag" />
    <Subtype id="40" name="Red Diagonal Down" image="reddiag" />
    <Subtype id="42" name="Yellow Diagonal Down" image="yeldiag" />
  </Subtypes>
  <Properties>
    <BitsProperty name="Direction" type="SpringDirection" startbit="4" length="2" />
    <BitsProperty name="Color" type="SpringColor" startbit="1" length="1" />
    <BitsProperty name="KillTransverseSpeed" displayname="Kill Transverse Speed" type="bool" startbit="7" length="1" />
  </Properties>
  <Enums>
    <Enum name="SpringDirection">
      <EnumMember name="Up" />
      <EnumMember name="Horizontal" />
      <EnumMember name="Down" />
      <EnumMember name="Diagonal Up" />
      <EnumMember name="Diagonal Down" />
      <EnumMember name="Invalid 1" />
      <EnumMember name="Invalid 2" />
      <EnumMember name="Invalid 3" />
    </Enum>
    <Enum name="SpringColor">
      <EnumMember name="Red" />
      <EnumMember name="Yellow" />
    </Enum>
  </Enums>
    <Display>
    <DisplayOption>
      <Condition property="Direction" value="Up" />
      <Condition property="Color" value="Red" />
      <ImageRef image="redvert" />
    </DisplayOption>
    <DisplayOption>
      <Condition property="Direction" value="Up" />
      <Condition property="Color" value="Yellow" />
      <ImageRef image="yelvert" />
    </DisplayOption>
    <DisplayOption>
      <Condition property="Direction" value="Horizontal" />
      <Condition property="Color" value="Red" />
      <ImageRef image="redhorz" />
    </DisplayOption>
    <DisplayOption>
      <Condition property="Direction" value="Horizontal" />
      <Condition property="Color" value="Yellow" />
      <ImageRef image="yelhorz" />
    </DisplayOption>
    <DisplayOption>
      <Condition property="Direction" value="Down" />
      <Condition property="Color" value="Red" />
      <ImageRef image="redvert" />
    </DisplayOption>
    <DisplayOption>
      <Condition property="Direction" value="Down" />
      <Condition property="Color" value="Yellow" />
      <ImageRef image="yelvert" />
    </DisplayOption>
    <DisplayOption>
      <Condition property="Direction" value="Diagonal Up" />
      <Condition property="Color" value="Red" />
      <ImageRef image="reddiag" />
    </DisplayOption>
    <DisplayOption>
      <Condition property="Direction" value="Diagonal Up" />
      <Condition property="Color" value="Yellow" />
      <ImageRef image="yeldiag" />
    </DisplayOption>
    <DisplayOption>
      <Condition property="Direction" value="Diagonal Down" />
      <Condition property="Color" value="Red" />
      <ImageRef image="reddiag" />
    </DisplayOption>
    <DisplayOption>
      <Condition property="Direction" value="Diagonal Down" />
      <Condition property="Color" value="Yellow" />
      <ImageRef image="yeldiag" />
    </DisplayOption>
  </Display>
</ObjDef>